*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-width: 20rem;
  font-family: var(--font-family-sans);
  color: var(--color-text);
  background: var(--color-canvas);
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  background: var(--color-canvas);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  font: inherit;
}

:is(
  button,
  select,
  input[type='button'],
  input[type='submit'],
  input[type='reset'],
  input[type='checkbox'],
  input[type='radio'],
  input[type='range'],
  input[type='color'],
  input[type='file']
):not(:disabled) {
  cursor: pointer;
}

label:has(
  :is(
    select,
    input[type='checkbox'],
    input[type='radio'],
    input[type='range'],
    input[type='color'],
    input[type='file']
  ):not(:disabled)
) {
  cursor: pointer;
}

:is(
  button,
  select,
  input[type='button'],
  input[type='submit'],
  input[type='reset'],
  input[type='checkbox'],
  input[type='radio'],
  input[type='range'],
  input[type='color'],
  input[type='file']
):disabled,
label:has(:disabled) {
  cursor: not-allowed;
}
